html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
    color:#e8e8e8;
    background: url(https://images.unsplash.com/photo-1571942948809-74637bfc59b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=922&q=80), no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, p, ul > li {
    text-align: center;
}

p, li {
    font-size: 20px;
}

body > h1 {
    font-family: cursive;
    font-size: 80px;
    padding: 20px;
}

body > h1 > a {
    color:#e8e8e8;
    padding: 20px;
}

body > h1 > a:hover {
    color:#e8e8e8;
    text-decoration: none;
}

.account-container > p , a, #header-logout {
    color: #002b59;
}

.btn {
    display: block;
    margin: 30px auto 0 auto;
}

ul, li {
    list-style: none;
}

.container {
    margin-top: 20px;
}

.account-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    background:rgba(255, 255, 255, 0.5);
}

.account-container > p, .account-container > input {
    margin: 0 10px 0 0 ;
}

.account-container > p > a {
    padding: 20px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container
{
    background:rgba(255, 255, 255, 0.5);
    max-width: 50%;
    border: 1px solid #e8e5e5;
    border-radius: 4px;
    padding: 30px;
    margin: 0 auto 30px auto;
}

.link-container {
    margin-top: 30px;
}

.link-container > p {
    font-size: 16px;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height: 10vh;
    background:rgba(238, 238, 238, 0.5);
    padding:8px;
}