@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h2>Do you want to log out?</h2><br>
  <h5>See you next time @User.Identity.Name 👋</h5>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" value="Log out" class="btn btn-dark" />
  }
}
else
{
  <hr />
  <div class="link-container">
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
  </div>
}