@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
  <div class="info-container">
    <h2>Do you want to log out?</h2>
    <h5>See you next time @User.Identity.Name 👋</h5>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" value="Log out" class="btn btn-info" />
    }
  </div>
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>