@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Add a New Flavor</h2><br>
@using (Html.BeginForm())
{
    <span>Name:</span>
    @Html.TextBoxFor(model => model.Name)<br><br>
    
    <input type="submit" value="Add a Flavor" class="btn btn-dark">
}

<hr />
<div class="link-container">
    <p>@Html.ActionLink("Back to Flavor List", "Index")</p>
</div>